{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <form method="POST">
        {% if object.id %}
            <h1 class="d-inline">Editar Post</h1>
            <small class="text-muted"> de {{ user.username }}</small>
        {% else %}
            <h1 class="d-inline">Nuevo Post</h1>
            <small class="text-muted"> de {{ user.username }}</small>
        {% endif %}

        <br>
        <br>

        {% csrf_token %}
        {% for field in form %}
            {{ field|as_crispy_field }}

            <br>
        {% endfor %}

        {% if object.id %}
            <button type="submit" class="btn btn-secondary">Actualizar</button>
            <a class="btn btn-primary" href="{% url 'post_detail' object.id %}">Cancelar</a>
        {% else %}
            <button type="submit" class="btn btn-secondary">Crear</button>
            <a class="btn btn-primary" href="{% url 'home' %}">Cancelar</a>
        {% endif %}

    </form>

{% endblock %}