{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="d-inline">Posts de {{ view.kwargs.username }}</h1>
    <small>({{ page_obj.paginator.count }})</small>

    <br>
    <br>

    {% for p in post %}

        <div class="card-body bg-light shadow p-3 mb-5">
            <small class="fw-bold">
                <a href="{% url 'user_posts' p.author.username %}">
                    <img class="rounded" src="{{ p.author.profile.profile_pic.url }}" alt="profile_pic" height="40"> {{ p.author }}
                </a>
            </small>
            <small class="text-muted"> el </small>
            <small>{{ p.date_posted }}</small>
            <h1 class="card-title"><a href="{% url 'post_detail' p.id %}">{{ p.title }}</a></h1>
            <div class="rounded content-bg">
                <p class="card-text">{{ p.content }}</p>
            </div>

        </div>

    {% endfor %}

    {% if is_paginated %}
        
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Inicio</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        {% endif %}

    {% endif %}

{% endblock %}