<nav class="navbar navbar-expand-lg navbar-light shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" id='link' href="{% url 'home' %}">Socnet</a>
        <li class="nav-item dropdown" id='contactar'>
            <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">Contactar</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="https://www.linkedin.com/in/eduardol%C3%B3pezrodr%C3%ADguez/" target="_blank">LinkedIn</a></li>
                <li><a class="dropdown-item" href="https://github.com/EduardoLopezRodriguez" target="_blank">Github</a></li>
                <li><a class="dropdown-item" href="https://www.facebook.com/lobotomy.suffocation/" target="_blank">Facebook</a></li>
            </ul>
        </li>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                {% if user.is_authenticated %}
                    <div class="d-flex">
                        <a class="nav-link me-auto active" id='link' aria-current="page" href="{% url 'post_create' %}">Crear Post</a>
                        <a class="nav-link me-auto text-dark" id='link' aria-current="page" href="{% url 'profile' %}">Mi Perfil</a>
                        <a class="nav-link me-auto text-dark" id='link' aria-current="page" href="{% url 'logout' %}">Cerrar sesión</a>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <a class="nav-link me-auto text-dark" id='link' aria-current="page" href="{% url 'login' %}">Iniciar sesión</a>
                        <a class="nav-link me-auto text-dark" id='link' aria-current="page" href="{% url 'register' %}">Regístrate</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>