{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <form method="POST">

        {% csrf_token %}

        <h1>Eliminar Cuenta</h1>
        <p>Estas seguro que quieres eliminar tu cuenta? 
            Esto borrara permanentemente tu perfil y cualquier post que hayas creado.</p>

        {{ form }}

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-danger">Si, quiero eliminar mi cuenta</button>
            <a class="btn btn-secondary" href="{% url 'profile' %}">Cancelar</a>
        </div>

    </form>

{%  endblock %}