{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <form method="POST">

        {% csrf_token %}

        <h1>Iniciar sesión</h1>

        {% for field in form %}

            {{ field|as_crispy_field }}

            <br>
        {% endfor %}

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Nombre de usuario o Contraseña incorrecto</strong>
            </div>
        {% endif %}

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-secondary">Enviar</button>
            <small class="text-muted float-end">Necesitas una cuenta? <a class="text-dark fw-bold" href="{% url 'register' %}">Regístrate</a></small>
            <small><a class="text-muted" href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a></small>
        </div>
    </form>

{%  endblock %}